version: "3.8"
services:
  app:
    build: .
    logging:
      driver: syslog
    tmpfs:
    - /tmp
    hostname: __DOCKER_HOSTNAME__
    volumes:
      - ./data:/data
      - /dev/log:/dev/log
    environment:
      FLASK_ENV: development
