name: 'build' 
on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  CONTAINER_NAME: tailucas/base-app

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout (GitHub)
        uses: actions/checkout@v4

      - name: Set up QEMU (for cross-platform builds)
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub Container Registry
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ env.CONTAINER_NAME }}:latest
            docker.io/${{ env.CONTAINER_NAME }}:latest
          cache-from: type=registry,ref=ghcr.io/${{ env.CONTAINER_NAME }}:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ env.CONTAINER_NAME }}:buildcache,mode=max
